<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623808187900-c8oha1qpgdstqhqoqbud6p45hjj60cdl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623808187900-c8oha1qpgdstqhqoqbud6p45hjj60cdl</string>
	<key>API_KEY</key>
	<string>AIzaSyBT83frmFc2vOBBrKM0H4acuBVe3LIzi74</string>
	<key>GCM_SENDER_ID</key>
	<string>623808187900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.domandito</string>
	<key>PROJECT_ID</key>
	<string>domandito-281cc</string>
	<key>STORAGE_BUCKET</key>
	<string>domandito-281cc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623808187900:ios:fcba1a1124b96e3db0b679</string>
</dict>
</plist>